/* Reseta as margens e bordas, além de definir o box-sizing */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

/* Estilo do fundo da página */
body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Fundo da página com a imagem */
body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

/* Estilo principal da área onde o conteúdo é exibido */
.container {
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
}

/* Alinhamento do conteúdo dentro da container */
.container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

/* Estilo da parte informativa dentro da container */
.container__informacoes {
    flex: 1;
    padding: 20px;
}

/* Estilo do botão e da área de texto */
/*.container__botao-container {
    display: flex;
    justify-content: center; /* Centraliza o botão horizontalmente */
  /*  align-items: center; /* Centraliza o botão verticalmente */
   /* position: absolute; /* Faz o botão flutuar sobre a tela */
   /* bottom: 20px; /* Ajuste a posição do botão para estar mais baixo */
   /* width: 100%; /* Garante que ocupe toda a largura da container */
/*}

/*.container__botao {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 16px;
}

/* Estilo do botão */
/*#start-button {
    /* background-color: #4CAF50; /* Cor de fundo */
    /*color: white; /* Cor do texto */
    /*padding: 15px 32px; /* Espaçamento interno (altura e largura) */
    /*text-align: center; /* Alinhamento do texto */
    /*text-decoration: none; /* Retira o sublinhado (caso seja um link) */
    /*display: inline-block; /* Faz o botão se comportar como um item em linha */
    /*font-size: 16px; /* Tamanho da fonte */
    /*cursor: pointer; /* Muda o cursor quando passa sobre o botão */
    /*border: none; /* Remove borda padrão */
    /*border-radius: 5px; /* Borda arredondada */
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    /*transition: background-color 0.3s ease, transform 0.2s ease; /* Animação suave para hover */
/*}

/* Efeito de hover no botão */
/* #start-button:hover {
    background-color: #45a049; /* Cor mais escura quando o botão é "hovered" */
    //* transform: scale(1.05); /* Um efeito de aumento no botão */
/*}

/* Efeito de clique no botão */
/*#start-button:active {
    background-color: #3e8e41; /* Cor ainda mais escura quando o botão é clicado */
  /*  transform: scale(0.95); /* Efeito de clique (botão se "contrai") */
/*}

/* Estilo do texto */
.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #1875E8;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
}

h2,
p,
button {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}
